.publications-show {
    .publication-wrapper {
        background: #ffffff;
        border: 1px solid #e5e5e5;
        padding: 55px 45px;
        position: relative;

        .outter {
            background: #ffffff;
            border: 1px solid #e5e5e5;
            height: 100%;
            left: -10px;
            position: absolute;
            top: 10px;
            width: 100%;
            z-index: -1;
        }

        .info {
            margin-bottom: 50px;

            .title {
                border-bottom: 1px solid #e1e1e1;
                font-size: 2em;
                margin-bottom: 25px;
                padding-bottom: 15px;
            }

            .isec {
                font-weight: 200;
                margin-bottom: 2px;

                label {
                    display: inline-block;
                    font-weight: 400;
                }

                ul {
                    display: inline-block;

                    li {
                        display: inline-block;
                    }
                }
            }

            .tags {
                margin-top: 15px;

                li {
                    display: inline-block;

                    a {
                        background: #f0f0f0;
                        color: #666666;
                        cursor: pointer;
                        font-size: 0.85em;
                        margin-right: 4px;
                        padding: 8px 12px;
                        text-decoration: none;
                    }
                }
            }
        }

        .minfo {
            .nav-tabs {
                border-bottom: 0px;

                li a {
                    background: #D7EFF5;
                    border: 0px;
                    -webkit-border-radius: 0px;
                    border-radius: 0px;
                    color: #00879E;
                    font-size: 1.25em;
                    font-weight: 200;
                    margin-right: 10px;
                    padding: 10px 20px;
                }

                li.active a {
                    background: #85CFDF;
                    color: #ffffff;
                    font-weight: 400;
                }
            }

            .tab-content {
                background: #D7EFF5;
                border: 1px solid #85CFDF;
                color: #323232;
                font-family: 'Roboto Slab';
                font-size: 0.9em;
                font-weight: 300;
                padding: 20px;
                position: relative;
                z-index: 1;

                p {
                    line-height: 20px;
                    margin-bottom: 10px;
                }

                label {
                    margin: 0px;
                    text-shadow: none;  
                }
            }
        }

        .sidebar {
            margin-left: 20px;

            .well {
                background: #F3F3F3;
                border: 1px solid #e4e4e4;
                -webkit-border-radius: 4px;
                border-radius: 4px;
                padding: 25px;
            }

            .title {
                border-bottom: 1px solid #cccccc;
                margin-bottom: 15px;
                padding-bottom: 10px;
            }

            .video {
                background: #000000;
                display: block;
                position: relative;

                .pbtn {
                    color: #ffffff;
                    cursor: pointer;
                    font-size: 2.5em;
                    left: 50%;
                    margin: -25px 0px 0px -13px;
                    position: absolute;
                    top: 50%;
                    z-index: 1;
                }

                img {
                    opacity: 0.3;
                }
            }
        }
    }
}