<!DOCTYPE html>
<html>
<head>
  <title>RubyGettingStarted</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
	<% if msg == "updated" %>
		<script type="text/javascript">
			window.alert("Your article has been updated.")
		</script>
	<% end %>
	<% if msg == "deleted" %>
		<script type="text/javascript">
			window.alert("Your article has been deleted.")
		</script>
	<% end %>
<% end %>




<%= yield %>

</body>
</html>
